[MESSAGES CONTROL]

disable=too-few-public-methods,
        import-error,
        import-outside-toplevel
        too-many-arguments,
        duplicate-code,
        too-many-locals,
        no-init,
        len-as-condition,
        too-many-instance-attributes,
        invalid-name,
        no-member,
        broad-except,
        unused-argument,
        unused-import,
        logging-fstring-interpolation,

ignore=test_*,

[FORMAT]
max-line-length=100
