aiohttp==3.7.4.post0
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
autopep8==1.5.4
bcrypt==3.2.0
bidict==0.21.2
bitfinex-api-py==1.1.14
cffi==1.14.4
chardet==3.0.4
click==7.1.2
coverage==5.3.1
dnspython==2.0.0
eventemitter==0.2.0
Flask==2.0.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.2.0
Flask-SocketIO==5.0.1
Flask-Testing==0.8.1
gevent==20.12.1
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
idna==3.1
isort==5.7.0
itsdangerous==2.0.0
Jinja2==3.0.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.0
mccabe==0.6.1
monotonic==1.5
multidict==5.1.0
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycparser==2.20
pyee==8.1.0
PyJWT==2.1.0
pylint==2.6.0
python-dotenv==0.15.0
python-engineio==4.0.0
python-socketio==5.0.4
six==1.15.0
SQLAlchemy==1.4.15
toml==0.10.2
typing-extensions==3.7.4.3
websockets==8.1
Werkzeug==2.0.0
wrapt==1.12.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.2.0
